html {
  background: #ddd;  
  height: 100%;
  display: flex;
}
body {
  width: 100%;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.Form-List {
  font-size: 15px;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.new-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 25%;
}

.Form-Input {
  display: flex;
  justify-content: space-evenly;
}